.score-board-container {
  margin-top: 24px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.score-board-wrapper {
  height: 40px;
  width: fit-content;
  background-color: #fff;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border: 2px solid #5ebb46;
}

.team-name {
  color: #fff;
  font-size: 24;
}

.first-team {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  height: 100%;
  background-color: #5ebb46;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.score {
  color: #303030;
  margin: 0;
}

.second-team {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  height: 100%;
  background-color: #5ebb46;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.timer-wrapper {
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.timer {
  padding: 6px 12px;
  border: 2px solid #5ebb46;
  border-radius: 36px;
}

.bar {
  height: 100%;
  width: 360px;
}

/* -------------------------------- */
h1 {
  margin-left: 24px;
}

form {
  display: flex;
  gap: 24px;
  margin-left: 24px;
}

label {
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 600;
}

.inputs-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
    0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  justify-content: center;
}

input {
  width: 240px;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

input:focus {
  border: 2px solid rgb(124, 138, 255);
}

.margin-bottom {
  margin-bottom: 24px;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

.counter-wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.counter-button {
  width: 120px;
  height: 30px;
  padding: 0;
  font-size: 24px;
}

.counter {
  margin: 0;
}
